{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}
<style type="text/css">
	.selection-2{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
</style>

	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>

						<ul class="p-b-54">
							<li class="p-t-4">
								<a href="/" class="s-text13 active1">
									All
								</a>
							</li>

							{% categories_li_a %}

						</ul>

						
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">

						<!-- <span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 16 results
						</span> -->
					</div>

					<!-- Product -->
                    <div class="text-center">
                        <div class="row">
                          
                          {% for pItem in object_list %}
                          <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card">
                              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                data-mdb-ripple-color="light">
                                <img src="{{ pItem.gambar.url }}"
                                  class="w-100" />
                                <a href="{{ pItem.get_absolute_url }}"> 
                                  <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                      <h5><span class="badge bg-{{ pItem.get_label_display }} ms-2">{{ pItem.label }}</span></h5>
                                    </div>
                                  </div>
                                  <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                  </div>
                                </a>
                              </div>
                              <div class="card-body">
                                <a href="{{ pItem.get_absolute_url }}" class="text-reset">
                                  <h5 class="card-title mb-2">{{ pItem.nama_produk }}</h5>
                                </a>
                                <a href="" class="text-reset ">
                                  <p>{{ pItem.get_kategori_display }}</p>
                                </a>
                                <h6 class="mb-3 price">Rp. {% if pItem.harga_diskon %}{{ pItem.harga_diskon }}{% else %}{{ pItem.harga }}{% endif %}</h6>
                                <a href="{{ pItem.get_add_to_cart_url }}" class="btn btn-primary ms-1">
                                  Tambah ke keranjang
                                  <i class="fas fa-shopping-cart ms-1"></i>
                              </a>
                            </div>
                        </div>
                          </div>
                          {% empty %}
                            <p>Data Produk belum tersedia</p>
                          {% endfor %}

          
                        </div>
                    </div>
				</div>
				<!-- ---- row end ------- -->

				<br>

				<!-- Pagination -->
                {% include 'home_pagination.html' %}
                <!-- Pagination -->
			</div>
		</div>
	</section>


		{% endblock content %}