{% load category_template_tags %}

<nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Navbar brand -->
        <a class="navbar-brand">Categories:</a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent2"
                aria-controls="navbarSupportedContent2"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% categories %}
            </ul>

            <!-- Search -->
            <form class="w-auto py-1" role="search"  method="get" action="{%url 'search' %}"  style="max-width: 12rem">
                <div class="input-group mb-3">
                    <input type="search" name = "q" class="form-control rounded-0" placeholder="Cari produk ..." aria-label="Search" value="{{request.Get.q}}">
                    <!-- <button class="btn btn-info" type="submit">search</button> -->
                    <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
            </form>

        </div>
    </div>
    <!-- Container wrapper -->
</nav>