{% extends 'base.html' %}

{% block content%}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>
                <p>Website ini masih dalam tahap pengembangan</p>
                <p>Kelompok B-6 Woman In Tech Digital Talent Kominfo</p>
                <h5>Hubungi Kami Untuk Informasi Lebih Lanjut</h5>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
{% endblock content%}
